.body {
    background-image: url("mybg.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

.header {
    position:absolute; 
    width:100%; 
    display: flex; 
    background-color: rgba(168, 27, 159, 0.492); 
    justify-content: space-between
}

.footer {
    position:absolute;
    width:100%;
    height: 75px;
    display: flex;
    background-color:rgba(77, 17, 73, 0.647);
    align-items: flex-end;
    flex-direction: column;
}

.headertxt {
    margin-left: 16px;
}

.time {
    margin-right: 16px;
}